body {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Aclonica';
  font-size: 40px;
}

.heading {
  text-align: center;
}

table {
  width: 60em;
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid black;
}

.table {
  padding-left: 13em;
}
